{% extends "base.html" %}
{% block body_attr %}class="single"{% endblock %}
{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" contents="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
  {% endfor %}


  {% if article.type == 'slides' %}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="{{ SITEURL }}/theme/reveal/css/reveal.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/reveal/css/theme/white.css" id="theme">
    <!-- Theme used for syntax highlighting of code -->
    <link rel="stylesheet" href="{{ SITEURL }}/theme/reveal/lib/css/zenburn.css">
    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <!--[if lt IE 9]>
    <script src="{{ SITEURL }}/theme/reveal/lib/js/html5shiv.js"></script>
    <![endif]-->
  {% endif %}

{% endblock %}

{% block content %}
<div id="main">
  <article class="post">
    <header>
      <div class="title">
        <h2>{{ article.title }}</h2>
        {% if article.subtitle %}
        <p>{{ article.subtitle }}</p>
        {% endif %}
      </div>
      <div class="meta">
        <time class="published" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
        
        {% for author in article.authors %}
        <a class="author" href="{{ SITEURL }}/{{ author.url }}"><span class="name">{{ author }}</span>
        {% if author|striptags in AVATARS %}
        <img src="{{ SITEURL }}/{{ AVATARS[author|striptags] }}" alt="" />
        {% endif %}
        </a>
        {% endfor %}
      </div>
    </header>
{#     {% if article.featured_image %}
    <a href="#" class="image featured"><img src="{{ SITEURL }}/{{ article.featured_image }}" alt="" /></a>
    {% endif %} #}
    <p {% if article.type == 'slides' %}class="revslides"{% endif %}>
    <div class="reveal">
      <div class="slides">
        {{ article.content }}
      </div>
    </div>
    </p>
    <footer>
      <ul class="stats">
        <li><a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></li>
        {% for tag in article.tags %}
          <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag.name }}</a></li>
        {% endfor %}
        <li><a href="#" class="icon fa-heart">28</a></li>
        <li><a href="#" class="icon fa-comment">128</a></li>
      </ul>
    </footer>
  </article>
</div>
{# include 'sidebar_left.html' #}

{# prev and next post. Needs the neighbors plugin. #}
<ul class="actions pagination">
    {% if article.next_article %}
    <li><a href="{{ SITEURL }}/{{ article.next_article.url }}" class="button fit previous">{{ article.next_article.title }}</a></li>
    {% else %}
    <li><a href="#" class="disabled button fit previous">Previous post</a></li>
    {% endif %}

    {% if article.prev_article %}
    <li><a href="{{ SITEURL }}/{{ article.prev_article.url }}" class="button fit next">{{ article.prev_article.title }}</a></li>
    {% else %}
    <li><a href="#" class="disabled button fit next">Next post</a></li>
    {% endif %}
</ul>



{% if article.related_posts %}
<section>
  <h2>Related posts</h2>
  <div class="mini-posts">
    {% for related_post in article.related_posts %}
      <article class="mini-post">
        <header>
          <h3><a href="{{ SITEURL }}/{{ related_post.url }}" rel="bookmark" title="Permalink to {{ related_post.title|striptags }}">{{ related_post.title }}</a></h3>
          <time class="published" datetime="{{ related_post.date.isoformat() }}">{{ related_post.locale_date }}</time>
          {% for author in related_post.authors %}
          <a class="author" href="{{ SITEURL }}/{{ author.url }}">
          {% if author|striptags in AVATARS %}
          <img src="{{ SITEURL }}/{{ AVATARS[author|striptags] }}" alt="" />
          {% endif %}
          </a>
          {% endfor %}
        </header>
        {% if related_post.featured_image %}
        <a href="{{ SITEURL }}/{{ related_post.url }}" class="image"><img src="{{ SITEURL }}/{{ related_post.featured_image }}" alt="" /></a>
        {% endif %}
      </article>
    {% endfor %}
  </div>
</section>
{% endif %}

{# {% if article.related_posts %}
<section>
  <h2>Related posts</h2>
  <ul class="posts">
  {% for related_post in article.related_posts %}
    <li>
      <article>
        <header>
          <h3><a href="{{ SITEURL }}/{{ related_post.url }}" rel="bookmark" title="Permalink to {{ related_post.title|striptags }}">{{ related_post.title }}</a></h3>
          <time class="published" datetime="{{ related_post.date.isoformat() }}">{{ related_post.locale_date }}</time>
        </header>
        {% if related_post.featured_image %}
        <a href="{{ SITEURL }}/{{ related_post.url }}" class="image"><img src="{{ SITEURL }}/{{ related_post.featured_image }}" alt="" /></a>
        {% endif %}
      </art icle>
    </li>
  {% endfor %}
  </ul>
</section>
{% endif %} #}


{% if DISQUS_SITENAME %}
<div class="comments">
<h2>Comments !</h2>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
       var disqus_identifier = "{{ article.url }}";
       (function() {
       var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
       dsq.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
</div>
{% endif %}

<section id="footer">
  <p class="copyright">&copy; {{ SITENAME }}. 
  Powered by <a href="http://blog.getpelican.com/">Pelican</a>.</p>
</section>

{% if article.type == 'slides' %}
<script src="{{ SITEURL }}/theme/reveal/lib/js/head.min.js"></script>
<script src="{{ SITEURL }}/theme/reveal/js/reveal.js"></script>

<script>

  // More info https://github.com/hakimel/reveal.js#configuration
  Reveal.initialize({
    controls: true,
    progress: true,
    history: true,
    center: true,
    embedded: true,
    transition: 'slide', // none/fade/slide/convex/concave/zoom

    // More info https://github.com/hakimel/reveal.js#dependencies
    dependencies: [
      { src: '{{ SITEURL }}/theme/reveal/lib/js/classList.js', condition: function() { return !document.body.classList; } },
      { src: '{{ SITEURL }}/theme/reveal/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      { src: '{{ SITEURL }}/theme/reveal/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      { src: '{{ SITEURL }}/theme/reveal/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
      { src: '{{ SITEURL }}/theme/reveal/plugin/zoom-js/zoom.js', async: true },
      { src: '{{ SITEURL }}/theme/reveal/plugin/notes/notes.js', async: true }
    ]
  });

</script>
{% endif %}
{% endblock %}