{% extends "archives.html" %}

{% block content %}
 <h2>Page not found :(</h2>

 {% if SEARCH_RESULTS_NUM %}
 <!-- <h4>But good news! Here's a search for you :)</h4> -->
 <section>
   <form class="search" method="get" action="{{ SITEURL }}/search.html">
     <input type="text" name="q" id="tipue_search_input" placeholder="Search" autocomplete="off" required />
   </form>
 </section>
 {% endif %}
{% endblock %}