{% extends "base.html" %}
{% block title %}{{ SITENAME }} · Archive {% endblock %}
{% block body_attr %}class="single"{% endblock %}
{% block content %}

  
<section>

{% if MINI_POSTS %}
  <div class="row">
    <div class="6u 12u$(medium)">
{% endif %}

 {% block content_type %}
  <h2>{{ SITENAME }} Posts</h2>
 {% endblock %}

 {% if MINI_POSTS %}
 </div>
 <div class="6u 12u$(medium)" style="padding-top: 0.5em">
 {% endif %}


{% if not MINI_POSTS %}
  <div class="mini-posts">
    {% for article in dates if article.category %}
    {% if article.type == 'trailer' %}
      {% set featured_image = article.featured_image or 'images/upcoming.png' %}
      {% set article_url = '#' %}
    {% else %}
      {% set article_url = SITEURL + '/' + article.url %}
      {% set featured_image = article.featured_image %}
    {% endif %}
    
      <article class="mini-post">
        <header>
          <h3><a href="{{ article_url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h3>
          <time class="published">{{ article.subtitle }}</time>
          {% for author in article.authors %}

          {% if author != "argmax" %}
          {% set author_url = "team/" + author.slug  %}
          {% else %}
          {% set author_url = author.url %}
          {% endif %}

          <a class="author" href="{{ SITEURL }}/{{ author_url }}">
          {% if author|striptags in AVATARS %}
          <img src="{{ SITEURL }}/{{ AVATARS[author|striptags] }}" alt="{{ author }}" />
          {% endif %}
          </a>
          {% endfor %}
        </header>
        {% if featured_image %}
        <a href="{{ article_url }}" class="image">
          <img src="{{ SITEURL }}/{{ featured_image }}" alt="" />
        </a>
        {% endif %}
      </article>
    {% endfor %}
  </div>

{% else %}

  <ul class="posts">
    {% for article in dates %}

    {% if article.type == 'trailer' %}
      {% set featured_image = article.featured_image or 'images/upcoming.png' %}
      {% set article_url = '#' %}
    {% else %}
      {% set article_url = SITEURL + '/' + article.url %}
      {% set featured_image = article.featured_image %}
    {% endif %}
    <li>
      <article>
        <header>
          <h3><a href="{{ article_url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h3>
          <time class="published">{{ article.subtitle }}</time>
        </header>
        {% if featured_image %}
        <a href="{{ article_url }}" class="image">
          <img src="{{ SITEURL }}/{{ featured_image }}" alt="" />
        </a>
        {% endif %}
      </article>
    </li>  
    {% endfor %}
  </ul>

  </div>
{% if MINI_POSTS %}
</div>
{% endif %}

</section>

{% endif %}

{% include 'footer.html' %}
<!-- <section id="footer">
  <p class="copyright">&copy; {{ SITENAME }}. 
  Powered by <a href="http://blog.getpelican.com/">Pelican</a>.</p>
</section> -->
{% endblock %}