{% extends "base.html" %}
{% block title %}{{ article.title|striptags|e }} · {{ SITENAME }}{% endblock title %}
{% block body_attr %}class="single"{% endblock %}
{% block head %}
  {{ super() }}
  <meta property="og:title" content="{{ article.title|striptags|e }} - {{ SITENAME }}"/>
  <meta property="og:image" content="{{ SITEURL }}/{{ article.image }}"/>
  <meta property="og:description" content="{{ article.summary|striptags|e }}"/>
  <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
  <script src="{{ SITEURL }}/theme/js/custom.js"></script>
{% endblock %}

{% block content %}
<div id="main">
  <article class="post">
    <header>
      <div class="title">
        <h2>{{ article.title }}</h2>
        <h1>{{ article.subtitle }}</h1>
      </div>
    </header>

    <div class="row">
      <div class="4u 12u$(small)">
        <img class="image fit rounded" src="{{ SITEURL }}/{{ article.image }}" alt="" />
      </div>
      <div class="8u 12u$(small)" style="padding-left: 1.5em;">
        {{ article.content }}
      </div>
    </div>
  </article>


  {% set posts = [] %}
  {% for author, articles in authors if author == article.title %}{% if posts.append(loop.length) %}{% endif %}{% endfor %}

  {% if posts %}    
  <section>
    <h2>Posts</h2>
    <div class="mini-posts">
      {% for author, articles in authors %}
      {% if author == article.title %}
      {% for related_post in articles %}
        <article class="mini-post">
          <header>
            <h3><a href="{{ SITEURL }}/{{ related_post.url }}" rel="bookmark" title="Permalink to {{ related_post.title|striptags }}">{{ related_post.title }}</a></h3>
            <time class="published">{{ related_post.subtitle }}</time>
            {% for author in related_post.authors %}

            {% if author != "argmax" %}
            {% set author_url = "team/" + author.slug  %}
            {% else %}
            {% set author_url = author.url %}
            {% endif %}

            <a class="author" href="{{ SITEURL }}/{{ author_url }}">
            {% if author|striptags in AVATARS %}
            <img src="{{ SITEURL }}/{{ AVATARS[author|striptags] }}" alt="" />
            {% endif %}
            </a>
            {% endfor %}
          </header>
          {% if related_post.featured_image %}
          <a href="{{ SITEURL }}/{{ related_post.url }}" class="image"><img src="{{ SITEURL }}/{{ related_post.featured_image }}" alt="" /></a>
          {% endif %}
        </article>
      {% endfor %}
      {% endif %}
      {% endfor %}

    </div>
  </section>
  {% endif %}
  
</div>

{% include 'footer.html' %}
{% endblock %}