{% extends "article.html" %}
{% set featured_veto = True %}
{% block article_content %}
{% if article.yt_list %}

<h1> Playlist </h1>
<iframe class="image fit" width="560" height="485" src="https://www.youtube-nocookie.com/embed/videoseries?list={{ article.yt_list }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endif %}

{% if article.slides %}
{%- for slides in article.slides.split(',') -%}
	{% set slide_num = '' %}
	{% if loop.first != loop.last %}
	{% set slide_num = loop.index %}
	{% endif %}
	<a class="button big fit" href="{{ SITEURL }}/pdfs/ml-course/{{ slides|trim }}">Slides {{ slide_num }}</a>
{% endfor %}
{% endif %}
{# {% if article.yt_list_2 %}
<iframe class="image fit" width="560" height="485" src="https://www.youtube-nocookie.com/embed/videoseries?list={{ article.yt_list_2 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endif %}
{% if article.yt_list_3 %}
<iframe class="image fit" width="560" height="485" src="https://www.youtube-nocookie.com/embed/videoseries?list={{ article.yt_list_3 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endif %} #}
{{ super() }}
{% endblock %}
