{% extends "base.html" %}
{% block title %}{{ article.title|striptags|e }} · {{ SITENAME }}{% endblock title %}
{% block body_attr %}class="single"{% endblock %}
{% block head %}
  {{ super() }}

  <meta property="og:title" content="{{ article.title|striptags|e }} - {{ SITENAME }}"/>
  {% if article.featured_image %}
    <meta property="og:image" content="{{ SITEURL }}/{{ article.featured_image }}"/>
  {% endif %}
  <meta property="og:description" content="{{ article.summary|striptags|e }}"/>
  <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />

  {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" contents="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
  {% endfor %}

  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="{{ SITEURL }}/theme/js/custom.js"></script>

  {# <link rel="stylesheet" href="{{ SITEURL }}/theme/css/base16-3024-light.css" /> #}

  {% if 'thebe' in article.type %}  
  <script type="text/javascript" src="https://cdn.rawgit.com/oreillymedia/thebe/17fe0971303cac24d7e806c8f1bc8ba3c0c40b23/static/main-built.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/codemirror.min.css">
  <script>
        $(function(){
          new Thebe({url:"https://tmpnb.org/",
            kernel_name: "python3",
            load_mathjax: true,
            container_selector: "div.entry-content"
          });
        });
      </script>
  {% endif %}
{% endblock %}

{% block progressbar %}
      <progress value="0"></progress>
{% endblock %}

{% block content %}
<div id="main">
  <article class="post">
    <header>
      <div class="title">
        <h2>
        {% if TITLE_PREFIX %}
        {{ TITLE_PREFIX }}
        {% endif %}
        {{ article.title }}
        </h2>
        {% if article.subtitle %}
        <p>{{ article.subtitle }}</p>
        {% endif %}
      </div>
      <div class="meta">
        {% block header_date %}
        <time class="published" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
        {% endblock %}

        {% for author in article.authors %}

        {% if author != "argmax" %}
        {% set author_url = "team/" + author.slug  %}
        {% else %}
        {% set author_url = author.url %}
        {% endif %}

        <a class="author" href="{{ SITEURL }}/{{ author_url }}">
        <span class="name">{{ author }}</span>
        {% if author|striptags in AVATARS %}
        <img src="{{ SITEURL }}/{{ AVATARS[author|striptags] }}" alt="" />
        {% endif %}
        </a>
        {% endfor %}
      </div>
    </header>

    {% if article.featured_image and FEATURED_IMAGE_IN_POST and not featured_veto %}
    <figure class="cap-left">
    <img class="image featured" src="{{ SITEURL }}/{{ article.featured_image }}" alt="" />
    {% if article.caption %}
        <figcaption>
          {{ article.caption }}
        </figcaption>
    {% endif %}
    </figure>
    {% endif %}
     
    <p {% if 'slides' in article.type %}class="revslides"{% endif %}>
        {% block article_content %}
        {{ article.content }}
        {% endblock %}
    </p>

    <footer>
      {% if SOCIAL_BUTTONS or DISQUS_SITENAME %}
      <ul class="stats">
        {% if SOCIAL_BUTTONS %}
        <!-- <li id='article_category'><a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></li> -->

{#         {% for tag in article.tags %}
          <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag.name }}</a></li>
        {% endfor %}  #}

          <li><a target="_blank" href='mailto:?subject=Sharing a post from {{ SITENAME }}&body=Check out this post I came across "{{ article.title|replace('&', '%26')|e }}" at {{ SITEURL }}/{{ article.url }}"' class="icon fa-envelope">Email</a></li>
          <li><a target="_blank" href='http://twitter.com/intent/tweet?status={{article.title|replace('&', '%26')|e}}+{{ SITEURL }}/{{ article.url }}' class="icon fa-twitter">Twitter</a></li>
          <li><a target="_blank" href='http://www.reddit.com/submit?url={{ SITEURL }}/{{ article.url }}&title={{article.title|replace('&', '%26')|e}}' class="icon fa-reddit">Reddit</a></li>
          <li><a target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&url={{ SITEURL }}/{{ article.url }}&title={{article.title|replace('&', '%26')|e}}&source={{ SITEURL }}" class="icon fa-linkedin">LinkedIn</a></li>
          <li><a target="_blank" href='https://news.ycombinator.com/submitlink?t={{article.title|replace('&', '%26')|e}}&u={{ SITEURL }}/{{ article.url }}' class="icon fa-hacker-news">HackerNews</a></li>
        {% endif %}

        {% if DISQUS_SITENAME and article.status != "draft"%}
          <li><a href="{{ SITEURL }}/{{ article.url }}#disqus_thread" class="icon fa-comment"></a></li>
        {% endif %}
      </ul>
      {% endif %}
    </footer>
  </article>

  {# prev and next post. Needs the neighbors plugin. #}
  {% if article.category not in FILTERED_CATEGORIES_IN_NEIGHBOUR_PAGES %}
  <ul class="actions pagination">

      {% if article.next_article or article.next_article_in_category %}
        {% if NEXT_ARTICLE_IN_CATEGORY %}
        <li><a href="{{ SITEURL }}/{{ article.next_article_in_category.url }}" class="button previous">{{ article.next_article_in_category.title }}</a></li>
        {% else %}
        <li><a href="{{ SITEURL }}/{{ article.next_article.url }}" class="button previous">{{ article.next_article.title }}</a></li>
        {% endif %}
      {% else %}
      <li><a href="#" class="disabled button previous">Previous post</a></li>
      {% endif %}

      {% if article.prev_article or article.prev_article_in_category %}
        {% if NEXT_ARTICLE_IN_CATEGORY %}
        <li><a href="{{ SITEURL }}/{{ article.prev_article_in_category.url }}" class="button next">{{ article.prev_article_in_category.title }}</a></li>
        {% else %}
        <li><a href="{{ SITEURL }}/{{ article.prev_article.url }}" class="button next">{{ article.prev_article.title }}</a></li>
        {% endif %}
      {% else %}
      <li><a href="#" class="disabled button next">Next post</a></li>
      {% endif %}
  </ul>
  {% endif %}  
</div>

{# {% include 'sidebar_left.html' %} #}


{% if article.related_posts %}
<section>
  <h2>Related</h2>
  <div class="mini-posts">
    {% for related_post in article.related_posts %}
      <article class="mini-post">
        <header>
          <h3><a href="{{ SITEURL }}/{{ related_post.url }}" rel="bookmark" title="Permalink to {{ related_post.title|striptags }}">{{ related_post.title }}</a></h3>
          <time class="published">{{ related_post.subtitle }}</time>
          {% for author in related_post.authors %}

          {% if author != "argmax" %}
          {% set author_url = "team/" + author.slug  %}
          {% else %}
          {% set author_url = author.url %}
          {% endif %}

          <a class="author" href="{{ SITEURL }}/{{ author_url }}">
          {% if author|striptags in AVATARS %}
          <img src="{{ SITEURL }}/{{ AVATARS[author|striptags] }}" alt="" />
          {% endif %}
          </a>
          {% endfor %}
        </header>
        {% if related_post.featured_image %}
        <a href="{{ SITEURL }}/{{ related_post.url }}" class="image"><img src="{{ SITEURL }}/{{ related_post.featured_image }}" alt="" /></a>
        {% endif %}
      </article>
    {% endfor %}
  </div>
</section>
{% endif %}

{# {% if article.related_posts %}
<section>
  <h2>Related</h2>
  <ul class="posts">
  {% for related_post in article.related_posts %}
    <li>
      <article>
        <header>
          <h3><a href="{{ SITEURL }}/{{ related_post.url }}" rel="bookmark" title="Permalink to {{ related_post.title|striptags }}">{{ related_post.title }}</a></h3>
          <time class="published" datetime="{{ related_post.date.isoformat() }}">{{ related_post.locale_date }}</time>
        </header>
        {% if related_post.featured_image %}
        <a href="{{ SITEURL }}/{{ related_post.url }}" class="image"><img src="{{ SITEURL }}/{{ related_post.featured_image }}" alt="" /></a>
        {% endif %}
      </art icle>
    </li>
  {% endfor %}
  </ul>
</section>
{% endif %} #}

{# Social Buttons - Official APIs #}
{# <div class="row">
    <div class="u -4u -3u(medium) -2u(small) 12u(xsmall)">
      <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
      <script type="IN/Share" data-counter="right"></script>
    </div>
    <div class="u 12u(xsmall)">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="djalelbbz" data-dnt="true" data-show-count="true" data-count="horizontal" >Tweet</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="u 12u(xsmall)">
      <div class="g-plus" data-action="share" data-annotation="bubble"></div>
    </div>
    <div class="u 12u(xsmall)">
      <div class="g-plusone" data-annotation="bubble" data-size="medium"></div>
    </div>
</div>
 #}

{# <ul class="actions pagination">
    <li><a target="_blank" href='http://twitter.com/intent/tweet?status={{article.title|e}}+{{ SITEURL }}/{{ article.url }}' class="button small">Twitter</a></li>
    <li><a target="_blank" href='https://plus.google.com/share?url={{ SITEURL }}/{{ article.url }}' class="button small">Google+</a></li>
    <li><a target="_blank" href='http://www.reddit.com/submit?url={{ SITEURL }}/{{ article.url }}&title={{article.title|e}}' class="button small">Reddit</a></li>
    <li><a target="_blank" href='http://www.linkedin.com/shareArticle?mini=true&url={{ SITEURL }}/{{ article.url }}&title={{article.title|e}}&source={{ SITEURL }}' class="button small">LinkedIn</a></li>
</ul>
 #}
<div id="comments" class="comments">
{% if DISQUS_SITENAME and article.status != "draft"%}
{# <h2>Comments</h2> #}
  <div id="disqus_thread"></div>
  <script>

  var disqus_config = function () {
  this.page.url = "{{ SITEURL }}/{{ article.url }}";
  this.page.identifier = "{{ article.slug }}" ;
  };

  (function() { 
  var d = document, s = d.createElement('script');
  s.src = '//{{ DISQUS_SITENAME }}.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}

{% if ISSO_URL %}
<script data-isso="{{ ISSO_URL }}"
        data-isso-require-author="true"
        data-isso-avatar="true"
        data-isso-vote="true"
        data-isso-reply-to-self="true"
        data-isso-max-comments-nested="10"
        data-isso-vote-levels="0,5,10,25,100"
        src="{{ ISSO_URL }}/js/embed.min.js"></script>

<section id="isso-thread" 
         data-title="{{ article.slug }}" 
         data-isso-id="{{ article.slug }}"></section>
{% endif %}
</div>

{% include 'footer.html' %}
<!-- <section id="footer">
  <p class="copyright">&copy; {{ SITENAME }}. 
  Powered by <a href="http://blog.getpelican.com/">Pelican</a>.</p>
</section> -->
{% endblock %}