{% extends "article.html" %}
{% set button_state = "disabled" %}
{% set button_link = "#" %}
{% set featured_veto = True %}
{% if article.registration and article.talk_date and article.talk_date >= article.date.now() %}
{% set button_state = "" %}
{% set button_link = article.registration %}
{% endif %}

{% block article_content %}
{% if article.youtube %}
{% set TITLE_PREFIX = "[Vid]"%}
<iframe class="image fit" width="560" height="485" src="https://www.youtube-nocookie.com/embed/{{ article.youtube }}?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
{% endif %}
{{ super() }}
<a class="button big fit {{ button_state }}" href="{{ button_link }}">Registration</a>
{% endblock %}
