{% extends "base.html" %}
{% block title %}{{ SITENAME }} - Authors{% endblock %}
{% block body_attr %}class="single"{% endblock %}
{% block content %}

<section>
 {% block content_type %}
  <h2>Authors</h2>
 {% endblock %}
  <div class="mini-posts">
    {% for author, _ in authors %}
      <article class="mini-post">
        <header>
          <h3><a href="{{ SITEURL }}/{{ author.url }}" rel="bookmark" title="Permalink to {{ author|striptags }}">{{ author }}</a></h3>
          <!-- <time class="published">{{ author.subtitle }}</time> -->
          {% if author|striptags in AVATARS %}
          <img class="image featured" src="{{ SITEURL }}/{{ AVATARS[author|striptags] }}" alt="{{ author }}" />
          {% endif %}
        </header>
      </article>
    {% endfor %}
  </div>
</section>


{% include 'footer.html' %}
<!-- <section id="footer">
  <p class="copyright">&copy; {{ SITENAME }}. 
  Powered by <a href="http://blog.getpelican.com/">Pelican</a>.</p>
</section> -->
{% endblock %}
