{% extends "archives.html" %}
{% block content_type %}
{% if author.page and author.page.content %}

 <article class="post">
	{{ author.page.content }}
 </article>

 {% else %}
 <h2>{{ author }}</h2>
 <!-- <h2>Posts</h2> -->
 {% endif %}
{% endblock %}
{% block title %}{{ SITENAME }} - {{ author }}{% endblock %}
