<!DOCTYPE HTML>
<html lang="{{ DEFAULT_LANG }}">
	<head>
		{% block head %}

		{% if MATOMO %}
		<script type="text/javascript">
		  var _paq = _paq || [];
		  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
		  _paq.push(['trackPageView']);
		  _paq.push(['enableLinkTracking']);
		  (function() {
		    var u="//{{ MATOMO }} ";
		    _paq.push(['setTrackerUrl', u+'piwik.php']);
		    _paq.push(['setSiteId', '1']);
		    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
		  })();
		</script>			
		{% endif %}
		
		{% if GA_ACCOUNT %}
		<script async src="https://www.googletagmanager.com/gtag/js?id={{ GA_ACCOUNT }} "></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', '{{ GA_ACCOUNT }} ');
		</script>
		{% endif %}

		<title>{% block title %}{{ SITENAME }}{% if SITESUBTITLE %} · {{ SITESUBTITLE }}{% endif %}{% endblock title %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	
		<link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css" />
		<link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygment.css" />
		<link rel="stylesheet" href="{{ SITEURL }}/theme/css/custom.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="{{ SITEURL }}/theme/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ SITEURL }}/theme/css/ie8.css" /><![endif]-->


		<style>
		body {
		{% if BACKGROUND_COLOR %}
		    background: {{ BACKGROUND_COLOR }};
		{% endif %}
		}
		</style>
		


		{# <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>  #}
		<script src="{{ SITEURL }}/theme/js/jquery.min.js"></script>

		{% if FEED_ALL_ATOM %}
		<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
		{% endif %}
		{% if FEED_ALL_RSS %}
		<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
		{% endif %}
		{% if FEED_ATOM %}
		<link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
		{% endif %}
		{% if FEED_RSS %}
		<link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
		{% endif %}
		{% if CATEGORY_FEED_ATOM and category %}
		<link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
		{% endif %}
		{% if CATEGORY_FEED_RSS and category %}
		<link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
		{% endif %}
		{% if TAG_FEED_ATOM and tag %}
		<link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
		{% endif %}
		{% if TAG_FEED_RSS and tag %}
		<link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
		{% endif %}

		<link rel="shortcut icon" href="{{ SITEURL }}/images/iconified/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="{{ SITEURL }}/images/iconified/apple-touch-icon.png" />
		<link rel="apple-touch-icon" sizes="57x57" href="{{ SITEURL }}/images/iconified/apple-touch-icon-57x57.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="{{ SITEURL }}/images/iconified/apple-touch-icon-72x72.png" />
		<link rel="apple-touch-icon" sizes="76x76" href="{{ SITEURL }}/images/iconified/apple-touch-icon-76x76.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="{{ SITEURL }}/images/iconified/apple-touch-icon-114x114.png" />
		<link rel="apple-touch-icon" sizes="120x120" href="{{ SITEURL }}/images/iconified/apple-touch-icon-120x120.png" />
		<link rel="apple-touch-icon" sizes="144x144" href="{{ SITEURL }}/images/iconified/apple-touch-icon-144x144.png" />
		<link rel="apple-touch-icon" sizes="152x152" href="{{ SITEURL }}/images/iconified/apple-touch-icon-152x152.png" />
		<link rel="apple-touch-icon" sizes="180x180" href="{{ SITEURL }}/images/iconified/apple-touch-icon-180x180.png" />
		{% endblock head %}
	</head>
	<body {% block body_attr %}{% endblock %}>
		{% block progressbar %}{% endblock %}
	<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
				<header id="header">
					<h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
{# 					{% if MAIN_LOGO %}
					<div class="logo">
					<a href="{{ SITEURL }}/"><img src="{{ SITEURL }}/{{ MAIN_LOGO }}" alt="" /></a>
			        </div>
					{% endif %}
 #}
					<nav class="links">
{# Experimental #}
					{% if TOC_IN_MENU and article and article.toc %}
					    {{ article.toc }}
					{% else %}
					{% if not NO_MENU_BAR %}	
						<ul>
							{% if not NO_PAGES_MENU %}
							{% for page in pages %}
							<li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
							{% endfor %}
							{% endif %}

							{% if not NO_CATEGORIES_MENU %}
							{% for category, articles in categories if category.name not in FILTERED_CATEGORIES_IN_MENU %}
							<li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></li>
							{% endfor %}
							{% endif %}

							{% for title, href in LINKS %}
							<li><a href="{{ href }}">{{ title }}</a></li>
							{% endfor %}
						</ul>
					{% endif %}
					{% endif %}

					</nav>
					
					<nav class="main">
						<ul>
							<!-- Social -->
							{% for name, link in SOCIAL %}
							  {% if name == 'email' %}
							  <li><a href="mailto:{{ link }}" class="fa-envelope" target="_blank"><span class="label">Email</span></a></li>
							  {% else %}
							  <li><a href="{{ link }}" class="fa-{{ name }}" target="_blank"><span class="label">{{ name }}</span></a></li>
							  {% endif %}
							{% endfor %}
							  {# <li><a href="{{ FEED_ALL_RSS }}" class="fa-feed"><span class="label">RSS</span></a></li> #}

							{% if article and EDIT_URL %}
							<li class="menu">
								<a class="fa-edit" href="{{ EDIT_URL | format(EDIT_BRANCH, article.source_path.split('content/')[1]) }}">Edit</a>
							</li>
							{% endif %}

							{% if SEARCH_RESULTS_NUM %}
							<li class="search">
								<a class="fa-search" href="#search">Search</a>
								<form id="search" method="get" action="{{ SITEURL }}/search.html">
									<input type="text" name="q" placeholder="Search" id="tipue_search_input" autocomplete="off" required />
								</form>
							</li>
							{% endif %}
							{% if not NO_RIGHT_SIDEBAR %}
							<li class="menu">
								<a class="fa-bars" href="#menu">Menu</a>
							</li>
							{% endif %}
						</ul>
					</nav>
				</header>

			<!-- Menu -->
				{% include 'sidebar_right.html' %}

			<!-- Main -->
				{% block content %}{% endblock %}
		</div>

	<!-- Scripts -->
		{% block scripts %}
		{# <script src="{{ SITEURL }}/theme/js/jquery.min.js"></script> #}
		<script src="{{ SITEURL }}/theme/js/skel.min.js"></script>
		<script src="{{ SITEURL }}/theme/js/util.js"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="{{ SITEURL }}/theme/js/main.js"></script>

		{% if DISQUS_SITENAME %}
		<script id="dsq-count-scr" src="//{{ DISQUS_SITENAME }}.disqus.com/count.js" async></script>
		{% endif %}
		{% endblock %}
	</body>
</html>
