{% set category = 'team' %}

{% extends "base.html" %}
{% block title %}{{ category|striptags|e }} · {{ SITENAME }}{% endblock title %}
{% block body_attr %}class="single"{% endblock %}

{% block head %}
{{ super() }}
<meta property="og:title" content="{{ category|striptags|e }}"/>
{% if category.page %}
{% if category.page.featured_image %}
<meta property="og:image" content="{{ SITEURL }}/{{ category.page.featured_image }}"/>
{% endif %}
<meta property="og:description" content="{{ category.page.content|striptags|e }}"/>
<meta property="og:url" content="{{ SITEURL }}/{{ category.url }}" />
{% endif %}
{% endblock %}

{% block content %}

<article class="post">

  <div class="row">
    <div class="12u$ 12u$(medium)">
      <h2>Team</h2>
    </div>

    {% for article in articles|sort(reverse=False,attribute='first_name') if not article.alumni or article.alumni == 'False' %}
    {% set article_url = SITEURL + '/' + article.url %}
    <div class="4u 6u(medium) 12u$(small)">  {# style="padding-top: 0.5em" #}
      <ul class="posts">
        <li>
          <article>
            <header>
              <h3><a href="{{ article_url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h3>
              <time class="published">{{ article.subtitle }}</time>
            </header>
            <a href="{{ article_url }}" class="image">
              <img class="rounded-small" width="700px" src="{{ SITEURL }}/{{ article.image_mini }}" alt="" />
            </a>
          </article>
        </li>  
      </ul>
    </div>
    {% endfor %}

    {# alumni #}
    <div class="12u$ 12u$(medium)">
      <h2>Alumni</h2>
    </div>

    {% for article in articles|sort(reverse=False,attribute='first_name') if article.alumni and article.alumni == 'True' %}
    {% set article_url = '#' %}
    <div class="4u 6u(medium) 12u$(small)">  {# style="padding-top: 0.5em" #}
      <ul class="posts">
        <li>
          <article>
            <header>
              <h3>
                <!-- <a href="{{ article_url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}"> -->
                {{ article.title }}
                <!-- </a> -->
              </h3>
              <time class="published">{{ article.subtitle }}</time>
            </header>
            <!-- <a href="{{ article_url }}" class="image"> -->
              <img class="image rounded-small" width="700px" src="{{ SITEURL }}/{{ article.image_mini }}" alt="" />
            <!-- </a> -->
          </article>
        </li>  
      </ul>
    </div>
    {% endfor %}
  </div>  

</article>

{% include 'footer.html' %}
{% endblock %}