{% if category.page and category.page.mini_post %}
	{% set MINI_POSTS = True %}
{% endif %}
{% extends "archives.html" %}

{% block head %}
  {{ super() }}
  {% if category.page %}
  <meta property="og:title" content="{{ category.page.title|striptags|e }}"/>
  {% if category.page.featured_image %}
    <meta property="og:image" content="{{ SITEURL }}/{{ category.page.featured_image }}"/>
  {% endif %}
  <meta property="og:description" content="{{ category.page.content|striptags|e }}"/>
  <meta property="og:url" content="{{ SITEURL }}/{{ category.url }}" />
 {% endif %}


{% endblock %}
{% block content_type %}
 {% if category.page and category.page.content %}

 <article class="post">
	{{ category.page.content }}
 </article>

 {% else %}
 <h2>{{ category }}</h2>
 <!-- <h2>Posts</h2> -->
 {% endif %}
{% endblock %}
{% block title %}{{ SITENAME }} - {{ category }}{% endblock %}
