{% extends "base.html" %}
{% block title %}{{ SITENAME }} · {{ category|striptags|e }}{% endblock %}
{% block body_attr %}class="single"{% endblock %}

{% block head %}
{{ super() }}
<meta property="og:title" content="{{ category|striptags|e }}"/>
{% if category.page %}
{% if category.page.featured_image %}
<meta property="og:image" content="{{ SITEURL }}/{{ category.page.featured_image }}"/>
{% endif %}
<meta property="og:description" content="{{ category.page.content|striptags|e }}"/>
<meta property="og:url" content="{{ SITEURL }}/{{ category.url }}" />
{% endif %}
{% endblock %}

{% block content %}

  {# jinja shadows var assignments inside loops -_-! so here's a workaround #}

  {% set upcoming = [] %}
  {% for article in articles|sort(attribute='date') if article.talk_date and article.talk_date >= article.date.now() %}
  {% if upcoming.append(loop.length) %}{% endif %}
  {% endfor %}
  {% set decription_len = "12u" %}
  {% if upcoming %}
  {% set decription_len = "6u" %}
  {% endif %}

  {% set future_talks = [] %}
  {% for article in articles|sort(attribute='date') if not article.talk_date %}
  {% if future_talks.append(loop.length) %}{% endif %}
  {% endfor %}

<section>
  <div class="row">
    <div class="12u$">
     {% if category.page and category.page.content %}
     <article class="post">
      {{ category.page.content }}
    </article>
    {% endif %}

  <article class="post">

  {% if upcoming %}
  <div style="padding-top: 0.2em; padding-left: 1em">
    <ul class="posts">
      <h3>Upcoming talks</h3>
      {% for article in articles|sort(attribute='date') if (article.talk_date and article.talk_date >= article.date.now()) %}
      {% set article_url = SITEURL + '/' + article.url %}
      <li>
        <article>
          <header>
            <h3><a href="{{ article_url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h3>
            <time class="published">{{ article.subtitle }}</time>
          </header>
          {% if article.featured_image %}
          <a href="{{ article_url }}" class="image">
            <img src="{{ SITEURL }}/{{ article.featured_image }}" alt="" />
          </a>
          {% endif %}
        </article>
      </li>  
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if future_talks %}
  <div style="padding-top: 0.2em; padding-left: 1em">
    <ul class="posts">
      <h3>Future talks</h3>
      {% for article in articles|sort(attribute='date') if not article.talk_date %}
      {% set article_url = "#" %}
      <li>
        <article>
          <header>
            <h3><a href="{{ article_url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h3>
            <time class="published">{{ article.subtitle }}</time>
          </header>
          {% if article.featured_image %}
          <a href="{{ article_url }}" class="image">
            <img src="{{ SITEURL }}/{{ article.featured_image }}" alt="" />
          </a>
          {% endif %}
        </article>
      </li>  
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <div style="padding-top: 0.2em; padding-left: 1em">
    <ul class="posts">
      <h3>Past talks</h3>
      {% for article in articles|sort(attribute='date', reverse=true) if article.talk_date and article.talk_date < article.date.now() %}
      {% set article_url = SITEURL + '/' + article.url %}
      <li>
        <article>
          <header>
            <h3><a href="{{ article_url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h3>
            <time class="published">{{ article.subtitle }}</time>
          </header>
          {% if article.featured_image %}
          <a href="{{ article_url }}" class="image">
            <img src="{{ SITEURL }}/{{ article.featured_image }}" alt="" />
          </a>
          {% endif %}
        </article>
      </li>  
      {% endfor %}
    </ul>
  </div>


  </article>

</div>
</div>


</section>


{% include 'footer.html' %}
<!-- <section id="footer">
  <p class="copyright">&copy; {{ SITENAME }}. 
  Powered by <a href="http://blog.getpelican.com/">Pelican</a>.</p>
</section> -->
{% endblock %}