{% extends "base.html" %}
{% block title %}{{ SITENAME }} - Drafts{% endblock %}
{% block body_attr %}class="single"{% endblock %}
{% block content %}

<section>
 {% block content_type %}
  <h2>Drafts</h2>
 {% endblock %}
  <div class="mini-posts">
    {% for article in drafts %}
      <article class="mini-post">
        <header>
          <h3><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h3>
          <time class="published">{{ article.subtitle }}</time>
          {% for author in article.authors %}

          {% if author != "argmax" %}
          {% set author_url = "team/" + author.slug  %}
          {% else %}
          {% set author_url = author.url %}
          {% endif %}

          <a class="author" href="{{ SITEURL }}/{{ author_url }}">
          {% if author|striptags in AVATARS %}
          <img src="{{ SITEURL }}/{{ AVATARS[author|striptags] }}" alt="{{ author }}" />
          {% endif %}
          </a>
          {% endfor %}
        </header>
        {% if article.featured_image %}
        <a href="{{ SITEURL }}/{{ article.url }}" class="image"><img src="{{ SITEURL }}/{{ article.featured_image }}" alt="" /></a>
        {% endif %}
      </article>
    {% endfor %}
  </div>
</section>


{% include 'footer.html' %}
<!-- <section id="footer">
  <p class="copyright">&copy; {{ SITENAME }}. 
  Powered by <a href="http://blog.getpelican.com/">Pelican</a>.</p>
</section> -->
{% endblock %}
