{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <meta property="og:title" content="{{ SITENAME|striptags|e }}"/>
  {% if MAIN_LOGO %}
    <meta property="og:image" content="{{ SITEURL }}/MAIN_LOGO"/>
  {% endif %}
  <meta property="og:description" content="{{ SITESUBTITLE|striptags|e }}"/>
  <meta property="og:url" content="{{ SITEURL }}" />
{% endblock %}

{% block content %}

<div id="main">
  {% if WELCOME_MESSAGE %}
    <article class="post">
      <p>
      {{ WELCOME_MESSAGE }}
      </p>
    </article>
  {% endif %}
  {% for article in articles_page.object_list|sort(reverse=True,attribute='modified') if article.category not in FILTERED_CATEGORIES_IN_INDEX %}
  {% if article.type == 'trailer' %}
    {% set featured_image = article.featured_image or 'images/upcoming.png' %}
    {% set article_url = '#' %}
  {% else %}
    {% set article_url = SITEURL + '/' + article.url %}
    {% set featured_image = article.featured_image %}
  {% endif %}
  
  <article class="post">
    <header>
      <div class="title">
        <h2>
          <a href="{{ article_url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
        </h2>
        {% if article.subtitle %}
        <p>{{ article.subtitle }}</p>
        {% endif %}
      </div>
      <div class="meta">
        <time class="published" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
        
        {% for author in article.authors %}

        {% if author != "argmax" %}
        {% set author_url = "team/" + author.slug  %}
        {% else %}
        {% set author_url = author.url %}
        {% endif %}

        <a class="author" href="{{ SITEURL }}/{{ author_url }}">
        <span class="name">{{ author }}</span>
        {% if author|striptags in AVATARS %}
        <img src="{{ SITEURL }}/{{ AVATARS[author|striptags] }}" alt="" />
        {% endif %}
        </a>
        {% endfor %}
      </div>
    </header>

    {% if featured_image and not 'slides' in article.type %}
    <figure class="cap-left">
    <a href="{{ article_url }}" class="image featured">
      <img src="{{ SITEURL }}/{{ featured_image }}" alt=""/>
    </a>

    {% if article.caption %}
        <figcaption>
          {{ article.caption }}
        </figcaption>
    {% endif %}
    </figure>
    {% endif %}

    <p {% if 'slides' in article.type %}class="revslides"{% endif %}>
      {% if SHOW_SUMMARIES %}
        {{ article.summary }}
      {% else %}
        {{ article.content }}
      {% endif %}
    </p>
    <footer>
      {% if SHOW_SUMMARIES and article.type != 'trailer' %}
      <ul class="actions">
        <li><a href="{{ SITEURL }}/{{ article.url }}" class="button">Continue Reading</a></li>
      </ul>
      {% endif %}
      <ul class="stats">
        <!-- <li><a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></li> -->
{#         {% for tag in article.tags %}
          <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag.name }}</a></li>
        {% endfor %}
#}
        {# <li><a href="#" class="icon fa-heart">28</a></li> #}
        {% if DISQUS_SITENAME and article.type != 'trailer' %}
        <li><a href="{{ SITEURL }}/{{ article.url }}#disqus_thread" class="icon fa-comment"></a></li>
        {% endif %}
      </ul>
    </footer>
  </article>
  {% endfor %}
  {% include 'pagination.html' %}

</div>
<!-- Sidebar -->
{% include 'sidebar_left.html' %}
{% endblock content %}