{% extends "base.html" %}
{% block title %}{{ page.title|striptags|e }} · {{ SITENAME }}{% endblock title %}
{% block body_attr %}class="single"{% endblock %}
{% block head %}
  {{ super() }}

  <meta property="og:title" content="{{ page.title|striptags|e }}"/>
  {% if page.featured_image %}
    <meta property="og:image" content="{{ SITEURL }}/{{ page.featured_image }}"/>
  {% endif %}
  {# <meta property="og:description" content="{{ SITENAME|striptags|e }}"/> #}
  <meta property="og:url" content="{{ SITEURL }}/{{ page.url }}" />

  {% for keyword in page.keywords %}
    <meta name="keywords" contents="{{ keyword }}" />
  {% endfor %}

  {% for description in page.description %}
    <meta name="description" contents="{{ description }}" />
  {% endfor %}

  {% for tag in page.tags %}
    <meta name="tags" contents="{{ tag }}" />
  {% endfor %}

{% endblock %}

{% block content %}
<div id="main">
  <article class="post">
    <header>
      <div class="title">
        <h2>{{ page.title }}</h2>
        {% if page.subtitle %}
        <p>{{ page.subtitle }}</p>
        {% endif %}
      </div>
      <div class="meta">
        <!-- <time class="published" datetime="{{ page.date.isoformat() }}">{{ page.locale_date }}</time> -->
        
        {% for author in page.authors %}

        {% if author != "argmax" %}
        {% set author_url = "team/" + author.slug  %}
        {% else %}
        {% set author_url = author.url %}
        {% endif %}

        <a class="author" href="{{ SITEURL }}/{{ author_url }}"><span class="name">{{ author }}</span>
        {% if author|striptags in AVATARS %}
        <img src="{{ SITEURL }}/{{ AVATARS[author|striptags] }}" />
        {% endif %}
        </a>
        {% endfor %}
      </div>
    </header>
    {% if page.featured_image %}
    <a href="#" class="image featured"><img src="{{ SITEURL }}/{{ page.featured_image }}" alt="" /></a>
    {% endif %}
    <p>{{ page.content }}</p>
    
  </article>
</div>

<div id="comments" class="comments">
{% if DISQUS_SITENAME and page.status != "draft" and page.comments|lower == 'true' %}
{# <h2>Comments</h2> #}
  <div id="disqus_thread"></div>
  <script>

  var disqus_config = function () {
  this.page.url = "{{ SITEURL }}/{{ page.url }}";  
  this.page.identifier = "{{ page.slug }}" ;
  };

  (function() {
  var d = document, s = d.createElement('script');
  s.src = '//{{ DISQUS_SITENAME }}.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
</div>

{% include 'footer.html' %}
<!-- <section id="footer">
  <p class="copyright">&copy; {{ SITENAME }}. 
  Powered by <a href="http://blog.getpelican.com/">Pelican</a>.</p>
</section> -->
{% endblock %}