{% if DEFAULT_PAGINATION %}
<ul class="actions pagination">
    {% if articles_page.has_previous() %}
    <li><a href="{{ SITEURL }}/{{ articles_previous_page.url }}" class="button big previous">Previous Page</a></li>
    {% else %}
    <li><a href="#" class="disabled button big previous">Previous Page</a></li>
    {% endif %}

    {% if articles_page.has_next() %}
    <li><a href="{{ SITEURL }}/{{ articles_next_page.url }}" class="button big next">Next Page</a></li>
    {% else %}
    <li><a href="#" class="disabled button big next">Next Page</a></li>
    {% endif %}
</ul>
{% endif %}
