{% extends "archives.html" %}
{% block head %}
{{ super() }}
{# <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> #}

<script src="{{ SITEURL }}/theme/tipuesearch/tipuesearch_set.js"></script>
<script src="{{ SITEURL }}/theme/tipuesearch/tipuesearch.js"></script>
{% endblock %}

{% block content_type %}
 <h2>Search</h2>
{% endblock %}

{% block content %}

<div class="posts" id="tipue_search_content"></div>

<script>
$(document).ready(function() {
     $('#tipue_search_input').tipuesearch({
          'mode': 'json',
          'contentLocation': '{{ SITEURL }}/tipuesearch_content.json',
          'showURL': false,
          'showTitleCount': false,
          'show': {{ SEARCH_RESULTS_NUM }},
     });
});
</script>

{% endblock %}