 <section id="sidebar">
    <!-- Intro -->
      <section id="intro">
        <header>
        {% if MAIN_LOGO %}
        <a href="{{ SITEURL }}/" class="logo"><img src="{{ SITEURL }}/{{ MAIN_LOGO }}" alt="" /></a>
        {% else %}
          <h2>{{ SITENAME }}</h2> 
          {% if SITESUBTITLE %}
          <p>{{ SITESUBTITLE }}</p>
          {% endif %}
        {% endif %}
        </header>
      </section>



    {% if SIDEBAR_NEWS and SIDEBAR_NEWS.num %}
    {% set news = [] %}
    {% for article in articles if article.category == SIDEBAR_NEWS.category and (not article.expire or article.expire > article.date.now()) %}{% if news.append(loop.length) %}{% endif %}{% endfor %}
    {% if news %}      
      <section>
        <h2 class="name">News</h2>
        <div class="mini-posts">
          <!-- Mini Post -->
          {% for article in articles if article.category == SIDEBAR_NEWS.category and (not article.expire or article.expire > article.date.now()) %}
          {% if loop.index <= SIDEBAR_NEWS.num %}
            
          {% if article.type == 'trailer' %}
            {% set featured_image = article.featured_image or 'images/upcoming.png' %}
            {% set article_url = '#' %}
          {% else %}
            {% set article_url = SITEURL + '/' + article.url %}
            {% set featured_image = article.featured_image %}
          {% endif %}
            <article class="mini-post">
              <header>
                <h3><a href="{{ article_url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h3>
                <time class="published">{{ article.subtitle }}</time>
                {% for author in article.authors %}

                {% if author != "argmax" %}
                {% set author_url = "team/" + author.slug  %}
                {% else %}
                {% set author_url = author.url %}
                {% endif %}

                <a class="author" href="{{ SITEURL }}/{{ author_url }}">
                {% if author|striptags in AVATARS %}
                <img src="{{ SITEURL }}/{{ AVATARS[author|striptags] }}" alt="" />
                {% endif %}
                </a>
                {% endfor %}
              </header>
              {% if featured_image %}
              <a href="{{ article_url }}" class="image">
                <img src="{{ SITEURL }}/{{ featured_image }}" alt="" />
              </a>
              {% endif %}
            </article>
          {% endif %}
          {% endfor %}
        </div>
      </section>
    {% endif %}
    {% endif %}

    {% if LAST_POSTS and articles|length > 1 %}
      <section>
        <h2 class="name">Latest posts</h2>
        <div class="mini-posts">
          <!-- Mini Post -->
          {% for article in articles if article.category not in FILTERED_CATEGORIES_IN_INDEX and not article.unfeatured %}
          {% if loop.index <= LAST_POSTS %}
            
          {% if article.type == 'trailer' %}
            {% set featured_image = article.featured_image or 'images/upcoming.png' %}
            {% set article_url = '#' %}
          {% else %}
            {% set article_url = SITEURL + '/' + article.url %}
            {% set featured_image = article.featured_image %}
          {% endif %}
            <article class="mini-post">
              <header>
                <h3><a href="{{ article_url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h3>
                <time class="published">{{ article.subtitle }}</time>
                {% for author in article.authors %}

                {% if author != "argmax" %}
                {% set author_url = "team/" + author.slug  %}
                {% else %}
                {% set author_url = author.url %}
                {% endif %}

                <a class="author" href="{{ SITEURL }}/{{ author_url }}">
                {% if author|striptags in AVATARS %}
                <img src="{{ SITEURL }}/{{ AVATARS[author|striptags] }}" alt="" />
                {% endif %}
                </a>
                {% endfor %}
              </header>
              {% if featured_image %}
              <a href="{{ article_url }}" class="image">
                <img src="{{ SITEURL }}/{{ featured_image }}" alt="" />
              </a>
              {% endif %}
            </article>
          {% endif %}
          {% endfor %}
        </div>
      </section>
    {% endif %}

      <!-- About -->
     {% if ABOUT %}
      <section class="blurb">
        <h2>About</h2>
        <p>{{ ABOUT }}</p>
        <ul class="actions">
          <li><a href="{{ SITEURL }}/about" class="button">Learn More</a></li>
        </ul>
      </section>
     {% endif %}
    <!-- Footer -->
      {% include 'footer.html' %}
<!--       <section id="footer">
        <p class="copyright">&copy; {{ SITENAME }}. 
        Powered by <a href="http://blog.getpelican.com/">Pelican</a>.</p>
      </section> -->
  </section>
