<section id="menu">

  <!-- Search -->
    {% if SEARCH_RESULTS_NUM %}
    <section>
      <form class="search" method="get" action="{{ SITEURL }}/search.html">
        <input type="text" name="q" id="tipue_search_input" placeholder="Search" autocomplete="off" required />
      </form>
    </section>
    {% endif %}

  <!-- Links -->
    <section>
      <ul class="links">


        {% if RIGHT_SIDEBAR_TITLE %}
        <h1>{{ RIGHT_SIDEBAR_TITLE }}</h1>
        {% endif %}

        {% if not NO_PAGES_MENU %}
        {% for page in pages %}
        <li>
          <a href="{{ SITEURL }}/{{ page.url }}">
            <h3>{{ page.title }}</h3>
            {% if page.subtitle %}<p>{{ page.subtitle }}</p>{% endif %}
          </a>
        </li>
        {% endfor %}
        {% endif %}

        {% if not NO_CATEGORIES_MENU %}
        {% for category, articles in categories if category.name not in FILTERED_CATEGORIES_IN_MENU %}
        <li>
          <a href="{{ SITEURL }}/{{ category.url }}">
            <h3>{{ category }}</h3>
            {% if category.page and category.page.subtitle %}<p>{{ category.page.subtitle }}</p>{% endif %}
          </a>
        </li>
        {% endfor %}
        {% endif %}

        {% for title, href in LINKS %}
        <li>
          <a href="{{ href }}">
            <h3>{{ title }}</h3>
            {% if href|select('/t/') %}
            <p>
              {% set tag_name  = href.split('/')[-1] %}
              <!-- {{ tags }} -->
{#              {% set tag_index = tags.index(tag_name) %} #}
              {% for tag, articles in tags %}
                {% if tag.name == tag_name and tag.page.subtitle %}
                  {{ tag.page.subtitle }}
                {% endif %}
              {% endfor %}
            </p>{% endif %}
          </a>
        </li>
        {% endfor %}

      </ul>
    </section>

  <!-- Social -->

<!-- 
    <section>
      <ul class="align-center actions horizontal">
        {% for name, link in SOCIAL_SIDE %}
          {% if name == 'email' %}
          <li><a href="mailto:{{ link }}" class="icon fa-envelope" target="_blank"><span class="label">Email</span></a></li>
          {% else %}
          <li><a href="{{ link }}" class="icon fa-{{ name }}" target="_blank"><span class="label">{{ name }}</span></a></li>
          {% endif %}
        {% endfor %}
        <li><a href="{{ FEED_ALL_RSS }}" class="icon fa-feed"><span class="label">RSS</span></a></li>
      </ul>
    </section>
 -->

  <!-- Actions -->
<!--  -->
    <section>
      <ul class="actions vertical">
        <li><a href="{{ SITEURL }}/about" class="button big fit">About</a></li>
      </ul>
    </section>

</section>