{% extends "archives.html" %}
{% block content_type %}
 {% if tag.page and tag.page.content %}
 {{ tag.page.content }}
 {% else %}
 <h2>Posts</h2>
 <!-- <h2>"{{ tag }}"</h2> -->
 {% endif %}
{% endblock %}
{% block title %}{{ SITENAME }} - {{ tag }}{% endblock %}
