{% extends "archives.html" %}
{% block content_type %}
 <h2>All Tags</h2>
 {% if author.page.content %}
 {{ author.page.content }}
 <h2>Posts</h2>
 {% endif %}
{% endblock %}
{% block title %}{{ SITENAME }} - Tags{% endblock %}

{% block content %}


<ul class="tagcloud actions vertical small">
    {% for tag in tag_cloud %}
        <li>
            <a class="button big icon fa-hashtag" href="{{ SITEURL }}/{{ tag.0.url }}">
            {{ tag.0 | replace('_', ' ') | title }}
                {% if TAG_CLOUD_BADGE %}
                    <span class="badge"> {{ tag.2 }} </span>
                {% endif %}
            </a>
        </li>
    {% endfor %}
</ul>

{# <div class="row-fluid">
    <header class="page-header span10 offset2">
    <h1><a href="{{ SITEURL }}/t/">All Tags</a></h1>
    </header>
</div>
<div class="row-fluid">
    <div class="span8 offset2">
        <form class="form-search">
            <input type="text" class="input-medium search-query filterinput" placeholder="Find a tag">
        </form>
        <ul class="list-of-tags">
            {% for tag, articles in tags|sort %}
            <li>
            {% set num = articles|count %}
            <a href="#{{ tag.slug }}-ref">{{ tag }}<span>{{ num }}</span></a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="row-fluid">
    <div class="span8 offset2">
        {% for tag, articles in tags|sort %}
        <h2 id="{{ tag.slug }}-ref" class="tag-title">{{ tag }}</h2>
        <ul class="articles-in-tag list-articles-category">
            {% for article in articles|sort(reverse = true, attribute = 'date') %}
            <li><time pubdate="pubdate" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }} {%if article.subtitle %} <small> {{ article.subtitle }} </small> {% endif %} </a></li>
            {% endfor %}
        </ul>

        {% endfor %}
    </div>
</div> #}

{% endblock content %}

{# {% block script %}
{{ super() }}
<script>
    (function ($) {
        // custom css expression for a case-insensitive contains()
        jQuery.expr[':'].Contains = function(a,i,m){
            return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase())>=0;
        };

        function listFilter() {

            $('.filterinput')
            .change( function () {
                var filter = $(this).val();
                if(filter) {
                    // this finds all links in a list that contain the input,
                    // and hide the ones not containing the input while showing the ones that do
                    $('.list-of-tags').find("a:not(:Contains(" + filter + "))").parent().hide();
                    $('.list-of-tags').find("a:Contains(" + filter + ")").parent().show();
                    } else {
                    $('.list-of-tags').find("li").show();
                }
                return false;
            })
            .keyup( function () {
                // fire the above change event after every letter
                $(this).change();
            });
        }

        //ondomready
        $(function () {
            listFilter($());
        });
    }(jQuery));
</script>
{% endblock script %} #}